.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-image: url('/marcille.png'); /* Replace 'background-image.jpg' with your image file */
    background-size: cover;
    background-position: center;
  }
  